* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right,rgb(222, 196, 116), rgb(209, 81, 187));
    color: wheat;
    text-align: center;
}

header {
    border-top: solid;
    border-bottom: solid;
    text-align: center;
    font-size: 25px;
    margin: 20px;
}
img {
    max-width: 100%;
    height: auto;
}

/* iframe[src*="docs.google.com"] {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
}   */

footer {
    background-color: #ad17bb;
    padding: 2px;
    text-align: center;
    font-size: 20px;
    color: white;
}
